@import './variables.scss';

body {
  background-color: $dark-background;
  color: $primary-text;
}

.App {
  height: 100%;
}

.App-header {
  padding: 10px;
  border-bottom: 2px solid #FAFAFA;
}

.Stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 6px;

  &> div {
    display: flex;
    flex-direction: row;
    margin: 0 14px;

    label {
      margin-right: 5px;
    }
  }
}

.Panels {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
