@import 'Panel.scss';

.Hacking-panel {
  .Hacking-computer {
    padding: 20px;
    display: flex;
    flex-direction: column;

    img {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      image-rendering: pixelated;
      margin-bottom: 20px;
      filter: grayscale(1.0);
    }
  }

  &.is-active {
    img {
      filter: brightness(100%);
    }
  }
}
