.Panel {
  width: 100%;
  height: 100%;
  border: 1px solid #AAA;

  h2 {
    color: #AAA;
    text-align: center;
  }

  &.is-active {
    border-color: #FAFAFA;
    h2 {
      color: #FFF;
    }
  }

  &.is-unlocked {
    h2 {
      cursor: pointer;
    }
  }
}
