@import './variables.scss';

.ProgressBar {
  background: #EEE; 
  border: 1px solid #DDD;
  border-radius: 5px;

  width: 100%;
  height: 18px;
  overflow: hidden;

  &.line-size {
    height: 4px;
    border: none;
    background: none;
  }

  .ProgressBar-bar {
    background: $primary-color;
    height: 100%;
  }
}
