@import 'variables.scss';

.UpgradeGrid {
  display: flex;
  justify-content: center;
  
  .Upgrade {
    position: relative;
    width: 140px;
    min-height: 80px;
    margin: 10px;
    background-color: $disabled-color;
    color: $disabled-text;
    border: 1px solid $disabled-text;
    border-radius: 5px;
    cursor: pointer;

    &.affordable {
      background-color: $primary-color;
      border-color: white;
      color: white;
    }

    .name {
      position: absolute;
      top: 2px;
      text-align: left;
      font-weight: bold;
    }
    .cost {
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0;
      bottom: 6px;
    }
    .effect {
      margin: 6px;
    }
    .ProgressBar {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
